{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet" type="text/css" href="{% static 'efab_app/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="sidebar">
        
     <nav class="navbar navbar-expand-lg flex-md-row-reverse navbar-header navbar-right navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand  pull-right" href="#">{% block sidebarBrand %}  {% endblock sidebarBrand %}</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    {% block navButtons %}
    {% if user.is_authenticated %}
    <li class="nav-item {{home_page}}">
        <a class="nav-link" href="{% url 'efab-home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {{profile_page}}">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
      </li>
    {% else %}
    <li class="nav-item {{login_page}}">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item {{register_page}}">
        <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
      </li>
    {% endif %}
   {% endblock navButtons %}
     
    </ul> 
  </div>
</nav>
       
    </div>

    <div id="content">
        <div class="container">
        <div class="row">
          <div class="col-md-12">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>
                      {{ message }}
                    </strong> 
                  </div>
                  
                  <script>
                    $(".alert").alert();
                  </script>
                {% endfor %}
              {% endif %}
              {% block content %}{% endblock %}
          </div>
        </div>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>