[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
weasyprint = "*"
django = "*"
djangorestframework = "*"
django-crispy-forms = "*"
pillow = "*"
django-cleanup = "*"
"xhtml2pdf" = "*"
django-easy-pdf = "*"

[dev-packages]

[requires]
python_version = "3.6"
